# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science.
* Identify commonly used libraries in Data Science.
* Understand the use of development environment tools in Data Science.
* Become familiar with arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. numpy

| Date Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

<H3>Below are a few examples of evaluating arithmetic expressions in Python<H3>

Arithmetric expression example: 1 + 1 = 2

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200.0/60.0

3.3333333333333335

<H2>Author<H2>
    
PL